
    .homee {
            background-image: url("../Assets/m.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            
    
        }
                .pra p {
                    color: #51565e;
                    font-size: 14px;
                }
        
                span {
                    font-size: 10px;
                }
    
