.cate{
    background-color: #f8f7f7;
   
   width: 30%;
   padding: 20px;
   height: 100%;
   
}
.right{
    background-color: rgb(255, 255, 255);
   
   width: 90%;

   
}
.catee{
        background-color: #f8f7f7;
        width: 20%;
            padding: 20px;
            height: 100%;
            line-height:2rem;
    
}
@media  only screen and (max-width:669px) {
    .clases{
        height: 50px;
        width: 100px;
    }
    .cg{
        border:none
    }
    
}
